// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.text-size>li {
  font-size: 200px;
}

.btn-danger>a {
  color: white;
}

.btn-primary>a {
  color: white;
}

.container {
  margin: 10px 10px;
}

.nav-link {
  color: red;
}